@font-face {
  font-family: lobster-regular;
  src: url('../fonts/lobster.regular.ttf');
}

* 
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
  }

  .overlay {
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 2;
  }

  .home-image {
    width: 100%;
    height:100%;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    background-image: url('../images/home/candle-spa.jpg');
    background-attachment: fixed;
    background-position: 0% 79%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0%;
  }

  .shop-logo {
    display: block;
    z-index: 3;
    margin:auto;
    margin-top: 11%;
    width: 70%;
  }

  .menu-container {
    color: #52C2C6;
    background-color: #059DAB;  /* Blue */
    padding: 20px 0;
    display: flex;
    -webkit-display: -webkit-flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    position: absolute;
    z-index: 100;
  }
  
  .menu-items {
    width: 900px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }

  .menu-items a {
    font-size: 30px;
    font-family: lobster-regular;
    text-decoration: none;
    color: azure;
    line-height: 30px;
  }

  .container-inline-flex {
    display: inline-flex;
    display: -webkit-inline-flex;
  }

  .divider-line {
    background-color: #059DAB;
    width: 327px;
    height:63px;
    line-height: 64px;
    font-size: 32px;
    margin: auto;
  }

  .span-label-text {
    font-size: 40px;
    font-family: lobster-regular;
    text-decoration: none;
    color: azure;
    text-align: center;
    display: inline-block;
    width: 97%;
  }

  

  .header {
    font-family: lobster-regular;
    font-weight: bold;
    font-size:30px;
  }

  /* SERVICES */
  .services {
    width: 100%;
    height: 100%;
    background-color: #FFF8FE;
  }

  .services .divider {
      height: 10px;
      background-color: #059DAB;
  }

  .services-image {
    width: 400px;
    margin-top:91px;
    margin-bottom: 63px;
    margin-left: 170px;
    flex-shrink: 1;
  }

  .svc-img {
    width: 100%;
    height: auto;
  }

  .services-description {
    width: 900px;
    margin-top: 91px;
    margin-left: 58px;
    margin-bottom: 63px;
    /* border: 1px dashed black; */
    flex-shrink: 1;
  }

  .services-text {
    margin-top: 10px;
    width: 600px;
  }



  /* GALLERY */
  .gallery {
    width: 100%;
    height: 100%;
    background-color: silver;
  }

  .gallery .divider {
    height: 10px;
    background-color: #059DAB;
  }

  .about-us {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
  }

  .about-us .divider {
    height: 10px;
    background-color: #059DAB;
  }

 

  